* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background: #fffcf0;
  border-radius: 15px;
  font-family: "Montserrat";
}
.header_responsive {
  background-color: black;
  height: 44px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
}
.section1_responsive {
  background: url("images/background.svg") no-repeat center;
  background-size: cover;
  height: 168px;
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav2_responsive li {
  padding-left: 6px;
  list-style: none;
}
.nav2_responsive li a {
  color: #f7c001;
  text-decoration: none;
}
li {
  list-style: none;
  color: white;
}
.sdiv1_responsive input {
  border-radius: 5px 5px 5px 5px;
  border-style: none;
  height: 44px;
  width: 150%;
  padding-left: 20px;
}
.sdiv2_responsive button {
  border-style: none;
  height: 44px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 5px;
  background: #f7c001;
  cursor: pointer;
}
.sdiv3_responsive button {
  border-style: none;
  height: 44px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 5px;
  background: #f7c001;
  cursor: pointer;
}
.bar1_responsive {
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sdiv0_responsive {
  padding-top: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section2_responsive {
  padding-left: 18px;
  padding-right: 18px;
}
.part1S2_responsive img {
  padding-top: 15px;
  height: 82px;
  padding-right: 13px;
}
.bouton0_responsive button {
  height: 44px;
  width: 100%;
  border-radius: 10px;
  background: #f7c001;
  margin-right: 55px;
  margin-top: 33px;
  border-style: none;
  cursor: pointer;
}
.bouton0_responsive p {
  color: white;
}
.bouton1_responsive button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 100%;
  border-radius: 10px;
  background: #889dca;
  margin-right: 55px;
  margin-top: 22px;
  border-style: none;
  cursor: pointer;
  animation: bounce 10s ease-in infinite;
}
.bouton1_responsive p {
  color: #102349;
  padding-left: 52px;
}
.bouton2_responsive button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 100%;
  border-radius: 10px;
  background: #f7a18d;
  margin-right: 55px;
  margin-top: 10px;
  border-style: none;
  cursor: pointer;
  animation: bounce 12s ease-in infinite;
}
.bouton2_responsive p {
  color: #dd1623;
  padding-left: 52px;
}
.bouton3_responsive button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 100%;
  border-radius: 10px;
  background: #bbeaff;
  margin-right: 55px;
  margin-top: 10px;
  border-style: none;
  cursor: pointer;
  animation: bounce 14s ease-in infinite;
}
.bouton3_responsive p {
  color: #016390;
  padding-left: 52px;
}
.socio_responsive {
  padding-top: 21px;
}
.socio_responsive h1 {
  font-size: 14px;
}
.socio1_responsive p {
  color: #b5b5b5;
  font-size: 17px;
}
.premier_responsive {
  display: flex;
}
.sociologo_responsive {
  display: flex;
  align-items: center;
  padding-top: 12px;
}
.sociologo_responsive a {
  color: black;
  text-decoration: none;
  font-size: 11px;
  padding-right: 6px;
}
.logoface_responsive {
  display: flex;
  align-content: center;
}
.logoinsta_responsive {
  display: flex;
  align-content: center;
}
.logotwit_responsive {
  display: flex;
  align-content: center;
}
@keyframes bounce {
  0% {
    transform: translateX(-500px);
  }
  50% {
    transform: translateX(18px);
  }
  100% {
    transform: translateX(0px);
  }
}
